[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
boto3 = "*"
botocore = "*"
lib-mongo = {editable = true, ref = "0.2.1", git = "https://github.com/csmartins/libmongo.git"}

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.7"
